<h1>Total order Price : {{ totalOrderPrice }}</h1>




<div class="row row-cols-1 row-cols-md-4 g-4">
  <!-- <ng-container *ngFor="let product of products; let i = index"> -->
  @for (product of filteredProducts; track product.id; let i= $index)
  {
    <div class="col">
      <div class="card" appHighlightCard externalColor="pink">
        <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}" />
        <div class="card-body" >
          <h5 class="card-title">{{ i + 1 }}{{ product.name }}</h5>
          <p class="card-text"><strong>Price: {{ product.price | currency }}</strong></p>
          @switch (product.Quantity;)
          {
          @case (1) {
          <p>Quantity: Last item</p>
          }
          @case (2) {
          <p>Quantity: Last two items</p>
          }
          @default {
          <p>Quantity: {{ product.Quantity }}</p>
          }
          }
        </div>
      </div>
    </div>
  }
  <!-- </ng-container> -->
</div>
